@using luxoft_T1.Models
@model Contractor
<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Edit Contractor</h1>
    <div>
        <form action="/Home/EditContractor" method="POST">
            <fieldset>
                <legend>Customer</legend>
                <div class="editor-label">
                    @Html.LabelFor(model=>model.Name)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model=>model.Name)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model=>model.Phone)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model=>model.Phone)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.email)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.email)
                </div>
                <div class="editor-field">
                    @Html.ListBoxFor(model => model.Status, new SelectList(Model.Status));
                </div>
                
                @Html.HiddenFor(model=>model.id)
                <input type="submit" value="Сохранить"/>
            </fieldset>
        </form>
    </div>
</body>
</html>